.menu__link {
    color: #333333;
    padding: .5rem 1rem;
}

/*classe ATIVO consigo manter a configuração quando estiver em uso a pagina*/
.menu__link:hover, .menu__link.ativo {
    border-bottom: 2px solid #0073e6;
}